body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner{
  padding: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f3f3f3;
  margin-top: 10px;
  flex-wrap: wrap;
}
.search-box{
  padding: 2px;
  position:relative;
  display: flex;
  align-items: center;
}
.search{
  color: #700274;
  outline: none;
  border: none;
  height: 32px;
  width: 280px;
  font-weight: bold;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-icon{
  background-color: #e4e457;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-size: 20px;
  height: 32px;
  width: 42px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
input[type = 'search']::-webkit-search-cancel-button{
  cursor: pointer;
  background: #700274;
  font-size: 20px;
  font-weight: bold;
}



/* AutoCompleteDropdown.module.css */
.dropdown {
  position: absolute;
  list-style: none;
  color: #940499;
  top: 36px;
  right: 0;
  left: 0;
  border-radius: 6px;
  padding: 4px 6px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 200px;
  overflow-y: scroll;
}
.dropdown::-webkit-scrollbar{
  display: none;
}

.option {
  padding: 8px;
  cursor: pointer;
}

.option:hover {
  background-color: #f5f5f5;
}





@media screen and (max-width:900px){
  #nav{
    display: none;
  }
}