
.header{
  background-image: linear-gradient(to right bottom, #fa0588, #f7009a, #f000ae, #e400c4, #d300da, #c400e4, #b200ef, #9b01fa, #8e00fa, #7f00fa, #6e02fa, #5b05fa);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 36px;
  border-bottom: dotted 1px #b200ef;
}

.header nav{
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.newProduct{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.productBox{
  background-image: linear-gradient(to right top , #fa0588, #f7009a, #f000ae, #e400c4, #d300da, #c400e4, #b200ef, #9b01fa, #8e00fa, #7f00fa, #6e02fa, #5b05fa);
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  color: #fff;
  border-radius: 6px;
}
.productBox img{
  height: 230px;
}
.buttonCont{
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  height: max-content;
  width: max-content;
}
.buttonCont button{
  height: 36px;
  border: none;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  background-color: #FFFF;
  width: 120px;
   color: #2d0080;
  transition: all 0.25s ease-in-out;
}
.buttonCont button::after{
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
  background-color: #FF61FF; 
  content: '';
  position: absolute;
}
.buttonCont button:hover:after{
  width: 100%;
}
.buttonCont button >span{
  z-index: 5;
  position: relative;
}
.buttonCont button:hover{
  color: #FFF7FF;
}



/* cart section */
.cartproducts{
  background-image: linear-gradient(to right bottom, #fa0588, #f7009a, #f000ae, #e400c4, #d300da, #c400e4, #b200ef, #9b01fa, #8e00fa, #7f00fa, #6e02fa, #5b05fa);
  padding: 14px;
  border-radius: 6px;
  color: #ffffe5;
  gap: 30px;
  display: flex;
}
.cartproducts h4 button{
  background-color: #F9F871;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 24px;
  font-weight: bold;
  width: 32px;
}
.cartproducts h4{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.cartCardBox{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orderInfo{
  background-image: linear-gradient(to right top, #fa0588, #f7009a, #f000ae, #e400c4, #d300da, #c400e4, #b200ef, #9b01fa, #8e00fa, #7f00fa, #6e02fa, #5b05fa);
  padding: 20px;
  color: #ffffe5;
  font-weight: bold;
  border-radius: 6px;
}
.orderInfo form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.orderInfo form div{
  display: flex;
  gap: 10px;
}
.orderInfo form input{
  border: none;
  font-weight: bold;
  height: 36px;
  color: #2d0080;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
  border-radius: 4px;
}
.orderInfo button{
  background-color: #F9F871;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 36px;
  font-weight: bold;
  transition: all ease-in-out 0.25s;
  width: 50%;
  margin: auto;
}
.orderInfo button:hover{
  transform: scale(1.045);
}
.orderInfo input:focus{
  outline: solid 2px #02fc02;
}
.h3Cart{
  text-align: center;
  margin-top: 80px;
  background-image: linear-gradient(to right bottom, #fa0588, #f7009a, #f000ae, #e400c4, #d300da, #c400e4, #b200ef, #9b01fa, #8e00fa, #7f00fa, #6e02fa, #5b05fa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  background-size: 10%;
}

  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.singleProduct{
  background-image: linear-gradient(to right top, #fa0588, #f7009a, #f000ae, #e400c4, #d300da, #c400e4, #b200ef, #9b01fa, #8e00fa, #7f00fa, #6e02fa, #5b05fa);
  padding: 16px 20px 10px 20px;
  border-radius: 6px;
  display: flex;
  max-width: 416px;
  width: 96%;
  justify-content: center;
  gap: 14px;
  align-items: center;
  flex-direction: column;
  height: max-content;
}
.singlesBox{
  font-family: 'Indie Flower', cursive;
}
.singleProduct img{
  border-radius: 4px;
  cursor: pointer;
}
.descriptions{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.descriptions h2,
.descriptions h4{
  margin: 4px;
  color: #2d0080;
}
.descriptions h2{
  text-transform: uppercase;
  margin-bottom: 10px;
}
